.cajaComentarios {
    max-width: 800px;
    border: 1px solid black;
    margin: 10px;
}

.cajaComentarios > * {
    position: relative;
    margin: 5px;
    padding: 5px;
    width: 95%;
    border: 1px solid black;
}

form {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    max-width: 800px;
    margin: 10px;
}

form > * {
    max-width: 300px;
    margin-top: 5px;
    margin: 5px;
    padding: 5px;
    width: 95%;
}
